<div class="wrapper">
  <h1>About Us</h1>

  <h2 class="text-md">Our Mission</h2>
      <p>West Baton Rouge Presbyterian Church seeks to nurture the spiritual and personal growth of all who gather with us. We teach and uphold Christian doctrine, offer fellowship to one another, and encourage every individual to serve as a faithful influence in our church, our community, our nation, and our world.
      </p>
  <h2 class="text-md">Our Values</h2>
  <ul class="grid">
    <li>
      <img src="https://res.cloudinary.com/dwjulenau/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_600/v1765053934/WBR%20Presbyterian/God.png" alt="" height="260" width="389">
      God
    </li>
    <li>
      <img src="https://res.cloudinary.com/dwjulenau/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_600/v1765053737/WBR%20Presbyterian/Mary.png" alt="" height="260" width="389">
      Love
    </li>
    <li>
      <img src="https://res.cloudinary.com/dwjulenau/image/upload/c_scale,dpr_auto,f_auto,fl_progressive,q_auto,w_600/v1765032899/WBR%20Presbyterian/stainedglass.png" alt="" height="260" width="389">
      Community
    </li>
  </ul>
  <h2 class="text-md">Serving Our Community</h2>
      <p>We give back to our community each week by supporting the local Food Bank and the Louisiana Veterans Home in Jackson, Louisiana.
      We also continue to collect used eyeglasses for the Port Allen Lions Club. Your donations of old eyeglasses are always appreciated.</p>
</div>
