<% content_for :title, "Editing church member" %>

<div class="wrapper">

  <p class="badge">Church Member</p>
  <h1><%= @church_member.name %></h1>
  <%= render "form", church_member: @church_member %>
  <div class="actions">
    <%= link_to "Back to church members", church_members_path, class: "btn-link-back" %>

    <%= link_to "Show this church member", @church_member, class: "btn-link" %>
  </div>
</div>
