<figure id="<%= dom_id photo %>">
  <%= image_tag(photo.image.variant(resize_to_limit: [150, 150]), height: 150, width: 100, alt: photo.caption || "") %>
  <% if photo.caption.present? %>
    <figcaption>
      <p><%= photo.caption %></p>
    </figcaption>
  <% end %>
</figure>
