.actions {
  align-items: center;
  border-radius: 4px;
  border: var(--color-border-strong) 1px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

button, input[type="submit"], [class*="btn-"] {
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;;
  padding: 0.5rem 1rem;
}

input[type="submit"], button[type="submit"] {
  background-color: var(--color-border-strong);
  color: var(--color-text-on-dark);
  &:hover {
    background-color: var(--color-border-subtle);
    color: var(--color-text);
  }
}

.btn-destroy, button.btn-destroy[type="submit"] {
  color: var(--color-danger);
  background-color: transparent;
  &:hover {
    color: var(--color-text-on-dark);
    background-color: var(--color-danger);
  }
}

.button_to {
  margin-left: auto;
}

.btn-link {
  background-color: var(--color-bg-alt);
  &:hover {
    background-color: var(--color-bg);
  }
}

.btn-link-back {
  border: var(--color-border-subtle) 1px solid;
  margin-right: auto;
  &:hover {
    background-color: var(--color-border-strong);
    color: var(--color-text-on-dark);
  }
}

.btn-new-link {
  background-color: var(--color-accent);
  color: var(--color-text-on-dark);
  &:hover {
    background-color: var(--color-accent-soft);
  }
}
