form:not(.delete-form):not(.button_to) {
  border: var(--color-border-strong) 1px solid;
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.form-group + .form-group {
  margin-top: 1rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
textarea,
select {
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  border: 1px solid var(--color-border-subtle);
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
