.badge {
  border-radius: 4px;
  border: var(--color-warning) 1px solid;
  color: var(--color-text);
  display: inline-block;
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
  line-height: 1;
  padding: 0.25rem 0.35rem;
}
